@media screen and (min-device-width: 800px)
and (max-device-width: 1124px) {
    .home-page{
        width: 112%;
        text-align: center;
        background-image: linear-gradient(to right top, #f7f0f8, #e1d4f2, #bebbf0, #89a7ef, #1297eb);
        padding-bottom: 8%;
        
    }
    .home-page img {
      margin-top: 122px;
      margin-bottom: -103px;
    }
    .footer {
      width: 1254px;
    }
  
    .confirmation_content {
      width: 49%;
      background-color: #dce0e9;
      text-align: center;
      margin-left: 76px;
      margin-top: -41px;
  }
  .p-dialog-header-close{
    margin: auto;
      color: #0a0a0a;
      margin-left: 44%;
  }

  }
  
  @media screen and (min-device-width: 800px)
and (max-device-width: 1123px){
.navbar{
    width: 1254px;
}
.footer {
  width: 1254px;
}
.confirmation_content {
  width: 49%;
  background-color: #dce0e9;
  text-align: center;
  margin-left: 76px;
  margin-top: -41px;
}
.p-dialog-header-close{
  margin: auto;
    color: #0a0a0a;
    margin-left: 44%;
}
}